{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>

<html lang="ru">
  <head>    
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/fav.ico' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
      {% block title %}
      Бизнес-тренер Сергей Баранов. Программы обучения.
      {% endblock %}
    </title>       
  </head>
  <body>
    <main class="pt-5 my-5">       
      <div class="container">
        {% block content %}
        <h1 class="pb-5 mb-0">ПРОГРАММЫ</h1>
        <p><span style="color: #0a71b6;"><strong>1. Школа переговоров</strong></span></p>
        <ul>
          <li>Базовая технология подготовки и ведения переговоров;</li>
          <li>Сложные переговоры;</li>
          <li>Гарвардская школа переговоров;</li>
          <li>Кремлёвская школа переговоров;</li>
          <li>36 стратагем в управлении и сложных переговорах.</li>
        </ul>
        <p><span style="color: #0a71b6;"><strong>2. Школа управления</strong></span></p>
        <ul>
          <li>Основные управленческие механизмы: лидерство, делегирование, администрирование e.t.c.;</li>
          <li>Cемь ступеней от новичка к опытному руководителю;</li>
          <li>Основы деловой борьбы;</li>
          <li>Наказать нельзя простить: конструктивные и деструктивные наказания подчинённых;</li>
          <li>Мотивация сотрудников: где же у них кнопка?</li>
          <li>Управление изменениями;</li>
          <li>Технология &#171;Разбора полётов&#187; (&#171;<em>А leader&#8217;s guide to after-action reviews&#187;)</em>.</li>
        </ul>
        <p><span style="color: #0a71b6;"><strong>3. Школа продаж</strong></span></p>
        <ul>
          <li>Комплексная подготовка менеджера по продажам;</li>
          <li>Комплексная подготовка продавца-консультанта;</li>
          <li>Продажа услуг;</li>
          <li>Техника продаж по методу С.П.И.Н.;</li>
          <li>НЕТ- тренинг: преодоление возражений;</li>
          <li>Продажи по телефону и этика телефонного общения;</li>
          <li>Отстройка от конкурентов: отличайся или умри.</li>
        </ul>
      <p><span style="color: #0a71b6;"><strong>4. Школа отличного сервиса</strong></span></p>
      <ul>
        <li>Отличный сервис;</li>
        <li>Клиенты на всю жизнь;</li>
        <li>Конфликты и претензии;</li>
        <li>Жалоба, как подарок.</li>
      </ul>
      <p><span style="color: #0a71b6;"><strong>5. Школа личной эффективности</strong></span></p>
      <ul>
        <li>Тайм-менеджмент: планирование и контроль времени;</li>
        <li>Ораторское мастерство и публичные выступления;</li>
        <li>Эмоциональный интеллект;</li>
        <li>Стресс-менеджмент;</li>
        <li>Ранговый потенциал.</li>
      </ul>
      <p><strong>Развёрнутые программы предоставляются по запросу.</strong></p>
      <p><strong>Возможна разработка тренинга под индивидуальные задачи заказчика, в том числе с передачей методики проведения.</strong></p>
      {% endblock %}
      </div> 
    </main>
  </body>
  <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>